.x-grid3-col-actions {
	padding: 3px 0 3px 5px;
}

ul.moddevtools-row-actions {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.moddevtools-row-actions li {
	float: left;
}

ul.moddevtools-row-actions .btn {
	padding: 5px;
	margin-right: 2px;
	min-width: 26px;
	font-size: inherit;
}

.moddevtools-grid-row-disabled {
	font-style: italic;
	opacity: .6;
	color: #555;
}

.action-red {
	color: darkred !important;
}

.action-green {
	color: darkgreen !important;
}

.action-blue {
	color: cadetblue !important;
}

.action-yellow {
	color: goldenrod !important;
}

.action-gray {
	color: dimgray !important;
}

a.x-menu-item .x-menu-item-text, a.x-menu-item .x-menu-item-text .icon {
	cursor: pointer;
}

a.x-menu-item .x-menu-item-text .icon {
	line-height: 16px;
	top: auto;
}

.x-menu-list .icon {
	min-width: 1em;
	text-align: center;
}

.x-menu-list-item:hover .icon {
	color: inherit !important;
}

.first-string {
    background: #f0ad4e;
}

.found-string {
    background: yellow;
}

.devtools-el-header {
    background-color: #ececec;
    padding: 10px;
    margin: 10px 0 0 0;
}

.devtools-search-code {
    border: 1px solid #ececec;
    padding: 10px;
    margin: 0 0 10px 0;
}

/* fix for modx-2.2 */
table.x-btn {
    float: left;
}

@media screen and (max-width: 1024px) {
    .x-panel.col-sm-4, .col-sm-4 .x-panel-body {
        width: 100% !important;
        margin: 2px 0;
    }

    .x-column-inner > .x-column.col-sm-4 ~ .x-column {
        margin-left: 0;
    }
}
/*
ul.moddevtools-row-actions .actions-menu {width: 40px;}
ul.moddevtools-row-actions .actions-menu:after {content: " \f107";}
*/