#resource-breadcrumbs li.first.contextname:before {
  left: 10px;
  width: 34px;
}

#resource-breadcrumbs li.first.contextname .root {
  padding-left: 45px;
  padding-right: 15px;
  text-align: left;
  text-indent: 0;
  width: auto;
}
